@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Montserrat',
sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#logoIndex {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 2rem;
}

main {
    display: grid;
}

.seccionH1 {
    background-color: aqua;
    padding: 25px;
    border: 2px dashed red;
    margin: 10px;
    /* max-width: 90px; */
    text-align: justify;
    color: coral;
}

.seccionH1 .claseH1 {
    font-size: 50px;
}


.navbar {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    justify-content: space-evenly;

    /* margin: 10px; */
    border: 12px;
    border-style: solid;
    border-color: aqua;
    /* padding: 4px; */
    list-style: none;
}

.navbar li {
    flex: 1;
    /* max-width: 120px; */
    /* flex-grow: 0;
    flex-shrink: 1; */
    /* flex-basis: 0; */

    /* display: inline; */
    border: 4px;
    border-style: solid;
    border-color: rebeccapurple;
}

h1 {
    color: red;
    border: 5px dashed blue;
    border-style: solid;
    font-size: 30px;
}



p {
    text-align:left;
}

.iconoFacebook {
    font-size: 50px;
}

.iconoFacebook:hover {
    color: red;
    background-color: brown;
}

.laclase-jaime {
    position: sticky;
    top: 20px;
}







